<!DOCTYPE html>
<html>
<head>
<h1>∵ Sekkei ∴</h2>
<div>
<nav>
<h4>
<%= link_to("Origamis", origamis_path)%> //
<%=link_to("Posts", posts_path) %>
</h4>
<%# <%= link_to("Origamis", origamis_path) %> 
</nav>
</div>
</head>
<body style="background-color:#ffe6e6">
    <%= yield %>
</body>
  
</html>
